<template name="leftTop">
    <div id="left-tray" class="col-md-4">
        <div class="btn-group" role="group" style="padding-left:10px;">
            <button class="btn btn-default" style="height:40px;" data-toggle="tooltip" data-placement="bottom" title="Gym">
                <i class="map-icon-gym" style="font-size: 30px;"></i>
            </button>
            <button class="btn btn-default" style="height:40px;" data-toggle="tooltip" data-placement="bottom" title="Spa">
                <i class="map-icon-spa" style="font-size: 30px;"></i>
            </button>
            <button class="btn btn-default" style="height:40px;" data-toggle="tooltip" data-placement="bottom" title="Salon">
                <i class="map-icon-hair-care" style="font-size: 30px;"></i>
            </button>
        </div>
    </div>
</template>