<template name="add">
    <div class="row ">
        <div class="col-md-offset-4 col-md-4">
            <form role="form" id="addWC">
                <div class="form-group">
                    <input type="text" class="form-control" id="name" placeholder="Wellness Center's Name" />
                    <input type="text" class="form-control" id="address1" placeholder="Address Line 1" />
                    <input type="text" class="form-control" id="address2" placeholder="Address Line 2" />
                    <input type="text" class="form-control" id="area" placeholder="Area" />
                    <input type="tel"  class="form-control" id="telephone" placeholder="number" />
                    <div class="row">
                        <div class="col-md-5" >
                            <input type="text" class="form-control" id="latitude" placeholder="latitude" />
                        </div>
                        <div class="col-md-5" >
                            <input type="text" class="form-control" id="longitude" placeholder="longitude" />
                        </div>
                        <div class="col-md-2" >
                            <button id="capture-pos" type="button" class="btn btn-mini">
                                <i class="fa fa-crosshairs"></i>
                            </button>
                        </div>
                    </div>
                    <button id="submit" type="submit" class="btn-block btn-blue">Submit</button>
                </div>
            </form>
            <div id="success" style="display: none;" >
                <div class="formMessage">
                    <h3>Thank you for providing your details</h3>
                    <div>Our representative will get in touch with you shortly to schedule a meet up for data collection.</div>
                </div>
                <div class="modal-form-button">
                    <button class="btn btn-block btn-blue list-another-property lp-btn">
                        <div class="button-text">List Another Property</div>
                    </button>
                </div>
            </div>
            <div id="error" style="display:none;">
                <div class="formMessage">
                    <h3>Request could not be recorded</h3>
                    <div class="message"></div>
                </div>
                <div class="modal-form-button">
                    <button class="btn btn-block btn-blue list-another-property lp-btn">
                        <div class="button-text">Send New Request</div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>