#addGym {
    display: block;
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.2);
    height: 270px;
    width: 480px;
    position:absolute;
    top:45px;
    left:36px;
    padding: 16px;
}

.form-column button {
    margin-top: 16px;
    text-transform: uppercase;
}

#addGym .form-control {
    height : 45px;
    border-radius: 0;
}

#addGym .half-width {
    width : 50%;
}