<template name="search">
    <div id="search" class="col-md-4">
          <div class="input-group">
            <input type="text" placeholder="Search" class="form-control"/>
            <span class="input-group-btn">
              <button id="submit-search" class="btn btn-default" type="button">
                  <i class="fa fa-search"></i>
              </button>
            </span>
          </div>
      </div>
</template>

<template name="backup">
    <div class="clear-search" role="button" style="display: none">
        <i class="fa fa-close"></i>
    </div>
</template>